---
---
$section-headings-color: #4682B4;

@import "{{ site.theme }}";

.page-header {
  color: #ffff;
  background-color: #ffffff;
  background-image: url("/images/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
